body{
    justify-items: center;
    justify-self: center;
    margin: 20px;
    background-color: #C9C9EE;
}
header{
    width: 100%;
    text-align: center;
}
aside{
    justify-self: flex-start;
}
h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
h2{
    font-size: 40px;
    margin-left: 15px;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navegacao{
    background-color: #a2a2c0;
    height: 75px;
    align-content: center;
}
.navegacao-itens{
    padding: 15px;
    font-size: 24px;
}
.sessao-principal{
    border: 1px black solid;
    margin-top: 10px;
    padding: 5px;
    text-align: justify;
}
.saiba-mais{
    width: 30%;
    justify-self: flex-start;
    text-align: justify;
}
.lista-redes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.artigo{
    font-size: 30px;
}
.texto-saiba{
    font-size: 20px;
}
.Imagem-Aluno{
    justify-self: center;
}